---
layout: page
title: Team
subtitle: If you are a current student at Georgia Tech, you can apply to the lab via <a href="/">this form (TODO)</a>. If you are interested in a PhD with us, <a href="https://www.cc.gatech.edu/degree-programs/phd-computer-science">please apply to GT 🐝</a>.
roles:
  - Professor
  - PhD Student
  - Affiliated Professor
  - Visiting PhD Student
  - Visiting Student
  - Masters Student
  - Undergraduate Student
  - Affiliated Researcher
---

<h2>Current Members</h2>

<div class="flex flex-wrap">
  {% for role in page.roles %}
    {% for person in site.people %}
      {% if person.role == role %}
        {% unless person.alumni_since %}
          <div class="w-25-m w-20-l w-50 ph2 pv2">
            {% if person.website %}<a href="{{ person.website }}">{% endif %}
              <span{% if person.content %} title="Fun fact: {{ person.content }}"{% endif %}>
                <img src="{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" loading="lazy" class="br3" />
                <span class="black">
                  {{ person.name }}
                </span>
              </span>
              {% if person.website %}</a>{% endif %}
              <div class="gray">({{ person.role }})</div>
              <!-- loop through advisors -->
              Advised by:
              {% for advisor in person.advisors %}
                <div class="black"> - {{ advisor }}</div>
              {% endfor %}
            </div>
        {% endunless %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

<h2>Past Members</h2>

<div class="mb4 flex flex-wrap">
  {% assign alumni = site.people | where_exp: 'p', 'p.alumni_since' %}
  {% assign sorted_alumni = alumni | sort: 'alumni_since' | reverse %} 
  <div class="flex flex-wrap">
  {% for person in sorted_alumni %} 
      <div class="w-25-m w-10-l w-50 ph2 pv2">
        {% if person.website %}<a href="{{ person.website }}">{% endif %}
          <span title="{{ person.name }} ({{ person.role }})">
            <img src="{{ person.image | relative_url }}" alt="Picture of {{ person.name }}" loading="lazy" class="br3" />
            <span class="black">
              {{ person.name }}
            </span>
            <span class="gray">
              ({{ person.alumni_since }})
            </span>
          </span>
          {% if person.website %}</a>{% endif %}
      </div>
  {% endfor %} 
  </div> 
</div>

You can find instructions for editing this list <a href="people/README.md">in the repository for this website</a>.
