<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <header class="bg-white">
        <div
          class="w-100 mw8 ph4-l ph3 center pt3 pb2 flex items-baseline flex flex-wrap"
        >
          <nav
            class="ml-auto-ns lh-copy w-auto-ns w-100 flex flex-column flex-row-ns f4 f5-ns"
          >
          
          <a href="https://www.gatech.edu/" class="dib f2 f3-ns fw6 link black hover-gt-blue center-s" style="width: 15%; height: 95%;">

            <img
            class="w3" 
              alt="GT logo"
              style="width: 100%; height: 60%;"
              src="{{ '/assets/logo-light.png' | relative_url }}"
            />
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="tc mt0-ns pt3" style="margin-right: auto;"><strong><a href="/" class="black link">DSA group</a></strong></div>
            <div class="tc mt0-ns pt3" style="margin-left: auto;">
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-gt-blue link dib"
                href="{{ '/about' | relative_url }}"
                >About</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-gt-blue link dib"
                href="{{ '/team' | relative_url }}"
                >Team</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-gt-blue link dib"
                href="{{ '/publications' | relative_url }}"
                >Publications</a
              >
              <a
              class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-gt-blue link dib"
              href="https://github.com/georgia-tech-db/"
              ><i class="fab fa-github mr2"></i>GitHub</a
            >
              <!-- <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-gt-blue link dib"
                href="{{ '/news' | relative_url }}"
                >News</a
              > -->
            </div>
          </nav>
        </div>
      </header>

      <main>
        {{ content }}
      </main>
    </div>

    <footer class="bt bg-gt-dark-gray white mt5 flex-shrink-0">
      <div class="w-100 mw8 ph4-l ph3 center pv5">
        <div class="flex flex-row-ns flex-column">
          <div class="w-50-ns">
            <div class="pv1">
              Hello from Atlanta, GA, USA.
              <a
                href="{{ '/team' | relative_url }}"
                class="link white dim underline"
                >Come join us!</a
              >
            </div>
            <div class="pv1">
              Our lab is in Klaus 3319.
            </div>
            <div class="pt4">
              <abbr
                title="Last build on {{ site.time | date: '%Y-%m-%d' }}"
                class="white"
                style="text-underline-position: under"
                >{{ site.time | date: "%B %Y" }}</abbr
              >
            </div>
          </div>
          <div class="w-50-ns">
            <h4 class="white mt0-ns">Links</h4>
            <ul class="list pl0">
              <li>
                <a href="https://www.scs.gatech.edu/" class="link white dim pv1 dib"
                  >School of Computer Science</a
                >
              </li>
              <li>
                <a href="https://www.gatech.edu/" class="link white dim pv1 dib"
                  >Georgia Tech</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
